<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Joke</title>
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>
          <%= heading %>
        </h1>
    
        <% if (locals.jokes) { %>
          <form id="editForm" method="post" action="/api/jokes/<%=jokes.id%>">
            <input type="text" name="title" value="<%=jokes.jokeType %>">
            <textarea id="content" rows="10"><%=jokes.jokeText %></textarea>
            <input type="text" name="author" value="<%=jokes.author %>">
            <button class="full-width" type="submit">
              <%= submit %>
            </button>
          </form>
          <% } else {%>
            <form id="newPostForm" method="post" action="/api/jokes">
              <input type="text" name="jokeType" placeholder="Joke Type" required>
              <textarea name="jokeText" placeholder="Joke Text" required rows="10"></textarea>
              <input type="text" name="author" placeholder="Author" required>
              <button class="full-width" type="submit">
                <%= submit %>
              </button>
            </form>
            <% } %>
    
      </div>
</body>
</html>